<h2>Available Mazes</h2>
<div>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <input type="file" name="mazeJson" (change)="onFileSelect($event)" />
    <button type="submit">Upload</button>
  </form>
  <ul class="available-mazes" *ngIf="isLoaded">
    <li *ngFor="let maze of listOfMazes" class="maze-entity">
      <valant-display-maze [maze]="maze"></valant-display-maze>
      <div>Upload date: {{maze.uploadDate}}</div>
      <a routerLink="/play-maze/{{maze.id}}">Play</a>
    </li>
  </ul>
</div>